.header
    flex-wrap: wrap
    text-align: center
    background-color: blueviolet

.body 
    padding: 40px 0
    flex-wrap: wrap

.item 
    flex-grow: 1
    border-style: solid
    margin: 8px 3px
    text-align: center

