.display-flex{
    display: flex;
}
.mainContainer{
    background-color: rgb(221, 220, 218);
}
.items{
    border: 1px solid ;
}
.items h2{
    border: 1px solid ;
    background-color: white;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items:flex-start;
}.text{
    display: inline-block;
    text-align: center;
}